.line_5{
    margin-left: 12%;
    margin-top: -2.5%;
    width: 30%;
    height: 2px;
    background-color: #000000;
}


@media(min-width: 375px){
    .line_5{
        margin-left: 26%;
        margin-top: -7%;
        width: 30%;
        height: 2px;
        background-color: #000000;
    }
}
@media(min-width: 768px){
    .line_5{
        margin-left: 16%;
        margin-top: -3.5%;
    }
}